<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
</head>
<body>
    <h1>Delete Item</h1>
    <form action="{% url 'delete-item' items.id %}" method="post">
        {% csrf_token %}
        <p>Are you sure that, you want to delete {{items.name}}?</p>

        <input type="submit" value="Delete">
    </form>
</body>
</html>